//-Common variables
block variables
//-Markup
doctype html
html(lang='RU-ru', dir='ltr', prefix='og: //ogp.me/ns#')
  head
    block meta
      include ./meta.pug
    block icons
      include ./icons.pug
    block styles
      include ./styles.pug
  body
    block content
    block scripts
      include ./scripts.pug
