//Common meta tags
meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
meta(property='og:type', content='website')
meta(property='og:image', content= require('../images/icons/og-image.png'))
meta(property='og:image:width', content='520')
meta(property='og:image:height', content='260')
meta(property='og:url', content='http://abovetherain.ru')
link(rel='author', href='humans.txt')
